<h1>Log In</h1>

<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  
  <%= button_tag "Log In", class: 'btn-success' %>
<% end %>

<p>Don't have an account yet? <%= button_to "Sign Up", sign_up_path, class: 'btn-success' %></p>

<p> <%= button_to "Forgot your password?", forgot_password_path, class: 'btn-success' %> </p>