<h1>Listing admin_products</h1>

<a><%= link_to 'Add New Product', new_product_path %></a>

<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><% print(product.name) %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Product', new_admin_product_path %>
